#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

body {
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

section {
  scroll-snap-align: start;
}

.title {
  font-size: 2.5rem;
  font-weight: 700; 
  padding: 20px;
  border-radius: 10px;
  /* background-color:grey; */
}
