#root {
  /* max-width: 1280px; */
  margin: 0;
  text-align: center;
  /* border: yellow solid 1px; */
  max-width: fit-content;
}

* {
  box-sizing: border-box;
}


body {
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

@media (max-width: 1000px) {
  body {
    overflow-y: auto;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

section {
  scroll-snap-align: start;
}

.title {
  font-size: 2.5rem;
  font-weight: 700; 
  padding: 20px;
  border-radius: 10px;
  /* background-color:grey; */
}

.sidebar-img{
  height: auto;
  width: auto;
  max-width:3%;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}


.sidebar-img-selected{
  height: auto;
  width: auto;
  max-width: 3%;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  transform: scale(1.5);
  /* -webkit-filter: drop-shadow(1px 2px 15px white); */
  filter: drop-shadow(1px 2px 15px rgb(110, 110, 110));
}

.sidebar-img:hover{
  cursor: pointer;
  transform: scale(1.5);
  filter: drop-shadow(1px 2px 15px rgb(110, 110, 110));

}

.sidebar-img-selected:hover{
  cursor: pointer;
}

.contact-img {
  height: auto;
  width: auto;
  max-height:100px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.contact-img:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.desc {
  border-radius: 10px;
  padding: 1%;
  box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.75);
  /* box-shadow: 2px 2px 10px 0px rgba(231, 153, 153, 0.75); */
  transition: all 0.2s ease-in-out;
}

.desc:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px 0px rgba(231, 153, 153, 0.75);
}

/* h1 {
  transition: all 0.2s ease-in-out;  
}

h1:hover {
  color: #e79999;
  cursor: pointer;
}  */

.indivLetter {
  transition: all 0.1s ease-in-out;  
}

.indivLetter:hover {
  color: #e79999;
  cursor: pointer;
}


/* @media screen and (max-width: 1000px) {
  .scroll-container {
    font-size: 2rem;
    overflow-x: hidden;
  }
  
} */

.scroll-container {
  /* width: 100vw;
  height: 100vh;
  border: blue solid 1px;
  max-width: 100%; */
}

.typing {
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: ultra-condensed;
  position: relative;
  bottom: 7px;
}


.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

h1,h2,h3,h4,h5,h6 {
  cursor: default;
}

h1 {
  text-shadow: black 0.1em 0.2em 0.1em;
}
